<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading nrf-panel-heading">
        <h4>Donate here to change someone life</h4>
      </div>
      <div class="panel-body donate-body">
        <form name="donate-form">
          <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 inr-two">
              <input type="radio" name="amountGrp" value="200" id="200" [(ngModel)]="donation.amount"><label for="200">INR 200</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 inr-five">
              <input type="radio" name="amountGrp" value="500" id="500" [(ngModel)]="donation.amount"><label for="500">INR 500</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 inr-onek">
              <input type="radio" name="amountGrp" value="1000" id="1000" [(ngModel)]="donation.amount"><label for="1000">INR 1000</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 own-choice">
                <input type="number" name="amount" placeholder="Enter amout as per your choice" class="form-control"
                       [(ngModel)]="donation.amount">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 total-amount">
              <label>Total Amount: {{amount}}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 donation-date">
              <input type="date" class="form-control" name="donation.donatedDate">
            </div>
          </div>
          <div class="form-group" *ngIf="donation.amount !==undefined">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 message-panel">
              <label>I am happy to contribute INR {{donation.amount}} to CARE India</label>
            </div>
          </div>
          <div class="form-group" *ngIf="donation.amount !==undefined">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <input type="text" name="fullName" class="form-control" placeholder="Enter your name" [(ngModel)]="donation.name">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <input type="text" name="email" class="form-control" placeholder="Enter your email" [(ngModel)]="donation.email">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <input type="tel" name="mobileNo" class="form-control" placeholder="Enter your mobile no" [(ngModel)]="donation.mobileNo">
            </div>
          </div>
          <div class="form-group" *ngIf="donation.amount !==undefined">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <input type="date" name="dob" class="form-control" placeholder="Enter your dob" [(ngModel)]="donation.donarDob">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <input type="text" name="pan" class="form-control" placeholder="Enter your pan no" [(ngModel)]="donation.pan">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <input type="text" name="pinCode" class="form-control" placeholder="Enter your pin code" [(ngModel)]="donation.pinCode">
            </div>
          </div>
          <div class="form-group" *ngIf="donation.amount !==undefined">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <select class="form-control" [(ngModel)]="donation.countryCode" name="country" (ngModelChange)="onCountryChange(donation.countryCode)">
                <option value="">--Select Country--</option>
                <option *ngFor="let item of location.country"
                        [value]="item._id">
                  {{ item.countryName }}
                </option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <select class="form-control" [(ngModel)]="donation.stateCode" name="state" (ngModelChange)="onStateChange(donation.stateCode)">
                <option value="">--Select State--</option>
                <option *ngFor="let item of location.state"
                        [value]="item._id">
                  {{ item.stateName }}
                </option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <select class="form-control" [(ngModel)]="donation.districtCode" name="district">
                <option value="">--Select District--</option>
                <option *ngFor="let item of location.district"
                        [value]="item._id">
                  {{ item.districtName }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group" *ngIf="donation.amount !==undefined">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 custom-margin">
              <button type="submit" class="btn btn-info" (click)="saveData(donation)">Continue And Pay</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

